@use "../helpers" as *;
::-webkit-scrollbar {
	width: $m;
}
::-webkit-scrollbar-track {
	background-color: $bcg;
}
::-webkit-scrollbar-track-piece {
	background-color: $bcg;
}
::-webkit-scrollbar-thumb {
	background-color: $blue;
	border-radius: $s;
}
// FIREFOX
html {
	scrollbar-width:thin;
  // scrollbar-color: <thumbColor> <trackColor>;
	scrollbar-color: $blue $bcg;
}
