$lred: #ee7777;
$red: #ee1111;
$orange: #ee7711;
$pink: #ee1177;
$lblue: #7777ee;
$blue: #1177ee;
$dblue: #1111ee;
$blueviolet: #7711ee;
$lgreen: #77ee11;
$green: #117711;
$bcg: #eee;
$black: #222;
$grey: #777777;
$pColor: #555555;